* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Article container */

.container {
    height: 100vh;
    width: 100%;
    color: white;
    background-color: hsl(233, 47%, 7%);
}

/* Card */

.card-container {
    height: 500px;
    width: 1200px;
    background-color: hsl(244, 38%, 16%);
    flex-direction: row;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* Card text content */

.text-container {
    width: 50%;
    height: 100%;
    padding: 80px;
    justify-content: space-between;
    align-items: start;
}

.paragraph-container {
    justify-content: space-between;
}

.paragraph-container h1 {
    font-size: 38px;
    margin-bottom: 30px;
}

.violet {
    color: hsl(277, 64%, 61%);
}

.paragraph-container p {
    font-size: 15px;
    line-height: 1.7em;
    color: hsla(0, 0%, 100%, 0.75);
    margin-right: 48px;
}

.data-numbers-container {
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
}

.stat-number {
    font-size: 26px;
    font-weight: 700;
}

.stat {
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca';
    font-size: 13px;
    letter-spacing: 1.5px;
    margin-top: 8px;
}

/* Card image */

.img-container {
    width: 50%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: inline-block;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    background-color: hsla(281, 85%, 50%, 0.39);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*/